#student-csv-upload {
    padding: 40px 25px;
}

.upload-icon{
    max-height: 30px;
    max-width: 30px;
    height: 10%;
    width: 10%;
}

#student-csv-upload h4 {
    margin-top: 25px;
}

#student-csv-upload > p {
    margin-top: 25px;
}

#student-csv-upload button div {
    width: 100%;
}

#student-csv-upload button div p {
    width: 92%;
}

#stu-id-list {
    height: 65px;
    overflow-y: scroll;
    margin-bottom: 25px;
}