h3 {
    width: 80%;
}
.selector select {
    width: 100px;
    text-align: center;
}
.selector {
    column-gap: 15px;
}
#attendance_chart {
    min-width: 520px;
}

#course_progress_chart {
    height: 600px;
}

@media (max-width: 425px) {
    #course_progress_chart {
        height: 300px;
    }
}