.main_heading {
    padding: 25px 15px 15px;
    margin: 0;
}
.cards_heading{
    grid-template-columns: auto 25% 25% 25%;
    grid-column-gap: 3%;
    color: var(--black);
    max-width: 80%;
    margin: auto;
    padding: 1%;
    font-size: 1.5rem;
    border-radius: 15px;
}
.head{
    font-size: 20px;
}
.blue_color_cards_data{
    background: var(--blue);
    color: var(--white);
    font-size: 20px;
}
.white_color_cards_data {
    background: var(--blue-white);
    font-size: 20px;
}

@media(max-width:768px) {
    .cards_heading{
        max-width: 90%;
    }
    .main_heading{
        font-size: 28px;
    }
    .head{
        font-size: 18px;
    }
    .blue_color_cards_data{
        font-size: 18px;
    }
    .white_color_cards_data{
        font-size: 18px;
    }
}

@media(max-width:425px) {
    .cards_heading{
        max-width: 95%;
    }
    .main_heading {
        font-size: 24px;
    }
    .head{
        font-size: 16px;
    }
    .blue_color_cards_data {
        font-size: 14px;
    }
    .white_color_cards_data {
        font-size: 14px;
    }
}
