body{
    min-height: 100vh;
    margin: 0;
}
@media(max-width: 783px){
    body{
        margin: 20px;
    }
}

.login_container {
    margin-top: 0 !important;
    overflow: hidden;
}

.dark-btn{
    width: 75%;
    height: 35px;
}

.input {
    height: 35px;
}

.background_image_container {
    width: 50%;
}

.background_image_container > img {
    width: 100%;
}

.login_container_logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.login_container_logo > img {
    width: 100%;
}

#forget_pass{
    color: var(--ash);
    font-size: 12px;
    margin-top: 5px;
}

.margin-top {
    margin-top: 20px;
}