@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

:root {
    --x-dark-blue: #284DCE;
    --blue: #0B2273;
    --ash: #47596D;
    --ash-green: #476F86;
    --border-white: #DCE3EA;
    --blue-white: #E6ECF2;
    --white: #FCFBFC;
    --pure-white: #FFF;
    --error: #990000;
    --error-btn: #CE2828;
    --error-bg: #EADCDC;
    --green: #009900;
    --green-bg: #DCEADD;
    --background-white: #F7F7F7;
    --heading-blue: #0D2137;
    --warn: #85772F;
    --warn-btn: #FFDD2B;
    --warn-bg: #F9FFD2;
    --black: #000;
}

* {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--background-white);
    margin-left: 60px;
    margin-top: 90px;
}
/* --------------------------------------------------- */



/* --------------- Container formatting --------------- */
.main-container {
    background-color: var(--white);
    padding:40px 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.outer {
    margin: 20px;
}

.inner {
    margin: 20px;
    width: 90%;
}

.border {
    border: 3px solid var(--border-white);
}

.border-radius {
    border-radius: 20px;
}

.flex-gap{
    margin: 20px;
}

.inline{
    display: inline-flex;
}

.width-full{
    width: 80%;
}

@media (max-width: 425px) {
    .main-container{
        padding: 20px 20px !important;
        margin: 10px;
    }
}

/* --------------------------------------------------- */



/* ----------------- Text formatting ----------------- */
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--heading-blue);
    margin: 10px 0;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: var(--heading-blue);
    margin: 1rem 0;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 0;
}

h5 {
    font-size: 17px;
    font-weight: 500;
    margin: 5px 0;
}

h6 {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
}

@media (max-width: 425px) {
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 13px;
    }
    p {
        font-size: 12px;
    }
}

.heading-color{
    color: var(--heading-blue);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-bold {
    font-weight: bold;
}

.text-normal{
    font-weight: normal;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
}

.text-no-decoration {
    text-decoration: none;
}

.line-height{
    line-height: 3px;
}

/* --------------------------------------------------- */

/* ----------------- Link formatting ----------------- */
a:link {
    color: var(--heading-blue);
}
  
a:visited {
    color: var(--ash-green);
}
  
a:hover {
    color: var(--blue);
}
  
a:active {
    color: var(--blue);
}
/* --------------------------------------------------- */

/* ----------------- Grid formatting ----------------- */
.grid {
    display: grid;
}

.grid-table {
    grid-template-columns: 70% auto;
}
.grid-table .text-column, .grid-table .button-column {
    min-width: min-content;
    float: left;
}
.grid-table .button-column th {
    height: 49px;
}
.grid-table .button-column td {
    background-color: unset;
    color: unset;
    text-align: center;
}

/* --------------------------------------------------- */

/* ----------------- Flex formatting ----------------- */
.flex {
    display: flex;
} 

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-end{
    align-items: flex-end;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.h-justify {
    justify-content: space-between;
}

.h-evenly {
    justify-content: space-evenly;
}

.h-end{
    justify-content: flex-end;
}

.h-around {
    justify-content: space-around;
}

.align-stretch{
    align-items: stretch;
}
/* --------------------------------------------------- */



/* ----------------- Form formatting ----------------- */
.dark-btn, .x-dark-btn {
    background-color: var(--x-dark-blue);
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: none;
}

.x-dark-btn {
    min-width: 80%;
    min-height: 50px;
    background-color: var(--blue);
    font-size: medium;
    margin-top: 15px;
    overflow: hidden;
}

.cancel-btn {
    font-weight: bold;
    min-height: 50px;
    color: var(--black);
    border: var(--white) 1px solid;
    background-color: var(--white);
}

.btn-border-blue {
    border: 3px solid var(--x-dark-blue);
    border-radius: 8px;
    color: var(--x-dark-blue);
}

.warn-continue-btn {
    color: var(--black);
    border: var(--warn-btn) 1px solid;
    background-color: var(--warn-btn);
}

.confirm-btn {
    color: var(--green);
    border: var(--green) 1px solid;
    background-color: var(--green-bg);
}

.input {
    height: 25px;
    background-color: var(--blue-white);
    border: 3px solid var(--border-white);
    color: var(--blue);
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 8px;
}

.selector select {
    height: 30px;
    border: 3px solid var(--border-white);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}
/* --------------------------------------------------- */



/* ---------------- Table formatting ---------------- */
table {
    width: 100%;
    border-spacing: 0 12px;
}

tr {
    text-align: left;
    height: 40px;
}

th {
    background-color: var(--white);
    text-align: center;
    height: 40px;
}

tr:nth-child(even) > td {
    background-color: var(--blue-white);
    color: var(--blue);
}

tr td:first-of-type {
    border-radius: 12px 0px 0px 12px;
}

tr td:last-of-type {
    border-radius: 0 12px 12px 0;
}

tr:nth-child(odd) > td {
    background-color: var(--blue);
    color: var(--white);
}

td{
    padding: 8px 20px;
}

@media(max-width: 425px) {
    table{
        font-size: 13px;
    }
}
/* --------------------------------------------------- */



/* --------------- Messages Formatting --------------- */
.error-message{
    font-size: 13px;
    color: var(--error);
}

.error-bg {
    background-color: var(--error-bg);
}

.success-message {
    font-size: 13px;
    color: var(--green);
}

.success-bg {
    background-color: var(--green-bg);
}

.error-btn {
    color: var(--white);
    border: var(--error-btn) 1px solid;
    background-color: var(--error-btn);
}

.error-btn-icon, .edit-btn-icon {
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

.edit-btn {
    color: var(--white);
    border: var(--x-dark-blue) 1px solid;
    background-color: var(--x-dark-blue);
}

.edit-btn-text{
    height: 35px;
    border-radius: 10px;
}

.confirm-btn{
    color: var(--white);
    border: none;
    height: 35px;
    border-radius: 10px;
    background-color: var(--green);
}

button:disabled{
    background-color: var(--border-white);
}

.btn-circle{
    color: var(--white);
    border: none;
    background-color: var(--x-dark-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* --------------------------------------------------- */



/* ----------------- Modal Formatting ---------------- */
.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--white);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 15px;
}

.warn-modal-content, .error-modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
}

.error-modal-content {
    color: var(--error-btn);
    background-color: var(--error-bg);
    border: var(--error) 1px solid;
}

.warn-modal-content {
    color: var(--warn);
    background-color: var(--warn-bg);
    border: var(--warn) 1px solid;
}

.warn-modal-content h4, .error-modal-content h4{
    margin: 0;
}

.modal-content h4 {
    font-weight: bold;
}

.modal-content button {
    min-height: 35px;
    width: 90px;
    font-weight: bold;
}

.warn-modal-content button, .error-modal-content button {
    height: 35px;
    width: 80px;
    border-radius: 10px;
}

@media(max-width: 425px) {
    .modal-content .two-button-row {
        flex-direction: column;
        gap: 10px;
    }

    .modal-content button {
        min-height: 30px;
        width: 70px;
        font-weight: bold;
        font-size: 12px;
    }
}

.two-button-row {
    min-width: max-content;
    width: 100%;
}

.two-button-row button {
    width: 100px;
}
/* --------------------------------------------------- */



/* ---------------- Content Formatting --------------- */
.hide {
    display: none;
}

.float-right{
    float: right;
}

.inline-block{
    display: inline-block;
}

.absolute-position{
    position: absolute;
}

hr{
    border: 1px solid var(--heading-blue);
    border-radius: 6px;
    background: var(--heading-blue);
    height: 2px;
}

.overflow-x {
    overflow-x: auto;
}
/* --------------------------------------------------- */
.csv-header-format {
    font-weight: lighter;
    border: 1px solid var(--heading-blue);
    border-radius: 10px;
    min-height: 40px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
/* --------------------------------------------------- */



/* ---------------- Mobile Responsive  --------------- */
/*Hide side bar*/
@media(max-width:480px){
    .sidebar{
        display: none;
    }
    body{
        margin-left: 8px;
    }
}

/* Standard tablet size */
@media(min-width: 768px){
    .two-button-row {
        width: 60%;
    }
}
/* Standard mobile size large */
@media(max-width: 425px) {
    .modal-content .two-button-row {
        flex-direction: column;
        gap: 10px;
    }

    .modal-content button {
        min-height: 30px;
        width: 70px;
        font-weight: bold;
        font-size: 12px;
    }
}
/* --------------------------------------------------- */



/* -------------- Graphs ------------- */
.chart > canvas {
    max-width: 100%;
    height: auto !important;
}

@media(max-width: 768px) {
    .chart > canvas {
        min-width: 125%;
    }
}
/* --------------------------------------------------- */



/* -------------- File Upload Container ------------- */
#file-upload-container {
    padding: 40px 25px;
}

#file-upload-container .download-icon,
#file-upload-container .upload-icon{
    font-size: 20px;
}

#file-upload-container h4 {
    margin-top: 25px;
}

#file-upload-container > p {
    margin-top: 25px;
}

#file-upload-container button div {
    width: 100%;
}

#file-upload-container button div p {
    width: 92%;
}

@media(max-width: 425px) {
    #file-upload-container .download-icon, #file-upload-container .upload-icon{
        font-size: unset;
    }
}
/* --------------------------------------------------- */

