.sidebar, .topbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--pure-white);
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 50px;
    height: 100%;
    z-index: 2;
}

.topbar {
    width: 100%;
    height: 50px;
    z-index: 1;
}

.topbar .icon{
    display: none;
}

a {
    display: block;
    color: var(--heading-blue);
    padding: 13px;
    text-decoration: none;
}

a:visited{
    color: var(--heading-blue);
}

.elements{
    padding: 0px 20px;
}

.logo{
    height: 46px;
    margin-left: 50px;
}

.point-border{
    border: 2px solid var(--border-white);
    padding: 3px 10px;
    color: var(--blue);
}

.point{
    border-radius: 8px 0px 0px 8px;
}

.rank{
    border-radius: 0px 8px 8px 0px;
}

.profile-nav{
    width: 30px;
    max-height: 30px;
    border-radius: 50%;
    border: 1px solid var(--heading-blue);
}

.search-bar{
    width: 250px;
    padding: 10px;
    color: var(--blue);
}

.font{
    font-size: 15px;
}

.btn-search{
    background-color: transparent;
    border: none;
}

.fa-magnifying-glass{
    margin-left: -50px;
}

#modal {
    position: absolute;
    background-color: var(--blue-white);
    left: 0;
    right: 0;
    top: 0;
}

.width-full{
    width: 100%;
}

.border-modal{
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 3%;
    background-color: var(--white);
}

.modal-text{
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
    .search-bar{
        width: 150px;
    }

    .elements{
        padding: 0px 5px;
    }
}

@media screen and (max-width: 600px) {

    .responsive-hide{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .icon {
        float: right;
        display: flex !important;
    }

    .topnav .responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

