.profile_img{
    width: 120PX;
    height: 120PX;
    border-radius: 50%;
    border: 3px solid var(--heading-blue);
}

.profile_img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin-top{
    margin-top: 20px;
}

.edit-btn-icon{
    margin-left: 20px;
}

.main-container{
    padding-top: 10px;
}

.modal-content{
    width: 25%;
    background-color: var(--white);
}

.confirm-btn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table{
    border-spacing: 0 12px;
}

@media (max-width: 800px) {
    .flex-responsive{
        flex-direction: column;
        align-items: center;
    }
    .main-container {
        min-width: 400px;
    }

    .edit-btn-text{
        width: 60%;
        justify-content: center;
    }

    label{
        padding-left: 35px;
    }

    .responsive-container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .modal-content{
        min-width: 300px;
    }

}


