.submissions-card {
    width: 90%;
    padding-bottom: 2%;
    border-radius: 15px;
    margin: auto auto 40px;
}
.topic-container-add{
    display: grid;
    grid-template-columns: 85% auto;
    padding: 0.5% 2.5%;
}
.add-headline {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    overflow-wrap: break-word;
}
.topic-container{
    grid-template-columns: auto auto;
    padding: 0.5% 2.5%;
}
.edit-delete-timeremaining{
    grid-template-columns: 50% 50%;
    padding: 0.5% 1%;
}
.submissions-card-inside {
    width: 95%;
    height: 75%;
    position: relative;
    border-radius: 15px;
    margin: auto auto 20px;
    background: var(--white);
}
.submissions-card-inside p{
    padding: 2%;
    overflow-wrap: break-word;
    margin: 0;
}
.container-heading-input{
    margin: 0;
    background: var(--blue);
    grid-template-columns: 30% 30% auto auto;
    color: var(--white);
    border-radius: inherit;
    padding: 10px 20px;
}
.container-heading{
    margin: 0;
    background: var(--blue);
    grid-template-columns: 30% 30% auto;
    color: var(--white);
    border-radius: inherit;
    padding: 10px 20px;
}
.due-date{
    background: var(--blue);
    color: var(--white);
}
.add-points-and-marks {
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    border: none;
    font-size: 1rem;
    width: 30%;
}
.view-points-and-marks{
    font-size: 1rem;
}
.link{
    padding: 0;
}

.link img{
    width: 80%;
}
.heading-content{
    margin: 6px;
    overflow-wrap: break-word;
}
.btn {
    width: 100px;
}
.add-submissions-content {
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1rem;
    overflow-wrap: break-word;
}
.add-submissions-content-div{
    padding: 1% 2% 1% 2%;
}
.submissions{
    padding: 0 2% 2% 2%;
}
.marks-btn{
    padding: 10px;
    margin: 5px 5px 5px 10px;
}
.files-views{
    margin: 10px;
    background: var(--ash-green );
    padding: 8px;
    border-radius: 8px;
}
a:link{
    color: var(--white);
}
.card-edit-modal {
    width: 80%;
    margin: 15% auto;
    background-color: var(--white);
    border-radius: 15px;
}
.attach-btn{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
#display-files{
    width: 50%;
    position: relative;
}
figure{
    margin: 10px;
    background: var(--ash-green );
    color: var(--white);
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.visibility-css{
    margin-left: 30px;
}
.submissions-card_modal{
    border-radius: 10px;
}
.attach-btn_modal{
    padding: 10px;
    margin: 10px 10px 10px 28px;
    cursor: pointer;
}
.modal-btns{
    margin: auto;
}
.modal-publish-btn{
    margin: 10px;
}
.cancel-modal-btn{
    border: var(--green) 1px solid;
    border-radius: 10px;
    color: var(--green);
    min-height: 35px;
    width: 100px;
    margin: 10px;
}
.cancel-btn-delete{
    border: var(--error-btn) 1px solid;
    margin: 0 auto;
    color: var(--error-btn);
}
.delete-modal-text{
    width: 500px;
}
#heading_textarea{
    display: block;
    overflow: hidden;
    resize: none;
}
#content_textarea{
    display: block;
    overflow: hidden;
    resize: none;
}

@media(max-width:768px) {
    .submissions-card{
        width: 95%;
    }
    .course_name {
        font-size: 1.6rem;
    }
    .add-points-and-marks{
        width: 50%;
        font-size: 0.85rem;
    }
    .view-points-and-marks{
        font-size: 0.9rem;
    }
    .btn{
        width: 80px;
        height: 25px;
        border-radius: 10px;
    }
    .add-submissions-content {
        font-size: 0.9rem;
    }
    .container-heading{
        border-radius: 10px;
        padding: 7px 14px;
    }
    a img{
        width: 33px;
        min-width: 33px;
    }
    .topic-container{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        width: 80px;
    }
    .edit-time {
        grid-column: 1 / span 2;
        grid-row: 1;
        font-size: 14px;
    }
    .deletebtn{
        grid-column: 1;
        grid-row: 2;
    }
    .editbtn{
        grid-column: 2;
        grid-row: 2;
    }
    .topic-container-add{
        grid-template-columns: 80% auto ;
    }
    .sub-container{
        font-size: 0.9rem;
        padding-right: 22px;
    }
    .checkmark{
        height: 14px;
        width: 14px;
    }
    .sub-container .checkmark:after{
        left: 4px;
        top: 1px;
        width: 3px;
        height: 7px;
    }
    .marks-btn {
        padding: 8px;
        margin: 2px 2px 2px 6px;
    }
}

@media(max-width:425px) {
    .course_name{
        font-size: 1.3rem;
    }
    .add-headline {
        font-size: 0.75rem;
    }
    .btn {
        width: 55px;
        height: 20px;
        border-radius: 7px;
        font-size: 0.7rem;
    }
    .add-points-and-marks {
        width: 90%;
        font-size: 0.75rem;
    }
    .submissions-card{
        width: 92%;
        margin-bottom: 20px;
    }
    .topic-container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .edit-time {
        grid-column: 1 / span 2;
        grid-row: 1;
        padding: 5px;
    }
    .edit-time span{
        font-size: 0.75rem;
    }
    .container-heading{
        border-radius: 8px;
        padding: 6px 8px;
    }
    .view-points-and-marks{
        font-size: 0.75rem;
    }
    .submissions-card-inside p{
        padding: 5%;
    }
    .add-submissions-content{
        font-size: 0.75rem;
    }
    .submissions{
        align-items: flex-start;
        flex-direction: column;
    }
    .marks-btn{
        font-size: 0.75rem;
        padding: 5px;
    }
    .sub-container{
        font-size: 0.75rem;
        padding-right: 22px;
        margin: 10px;
    }
    .checkmark{
        height: 12px;
        width: 12px;
    }
    .sub-container .checkmark:after{
        left: 4px;
        top: 0;
        width: 2px;
        height: 6px;
    }
}

@media(max-width:320px){
    .main-container{
        padding: 5px !important;
        margin: 5px;
    }
    .course_name{
        font-size: 1.1rem;
    }
}

