.dashboard{
    margin-left: 200px;
    margin-right: auto;
    margin-top: auto;
    padding: 0;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

.container{
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    width: 250px;
    background: rgb(19, 19, 132);
    text-align: center;
    font-size: 15px;
    color: white;
    float: left;
    margin: 20px;
    padding: 20px;
    border-radius: 17px;
}

.card img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 17px;
}


