body {
    background: #F7F7F7;
    margin-left: 60px;
    font-family: Roboto, sans-serif;
}

.main-container {
    background-color: #FCFBFC;
    padding:20px 40px;
    border-radius: 20px;
    padding-top: 10px;
}

.border {
    border: 3px solid #DCE3EA;
}

.flex-gap{
    margin: 20px;
}

.width-full{
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-normal{
    font-weight: normal;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-end{
    align-items: flex-end;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.h-justify {
    justify-content: space-between;
}

.align-stretch{
    align-items: stretch;
}

.dark-btn{
    background-color: #284DCE;
    color: #FCFBFC;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    height: 35px;
    background-color: #E6ECF2;
    border: 3px solid #DCE3EA;
    color: #0B2273;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 8px;
}

table {
    width: 100%;
}

th {
    background-color: #FCFBFC;
    color: #284DCE;
}

tr, th {
    text-align: left;
    height: 40px;
    padding-bottom:45px;
}

tr:nth-child(even) > td {
    background-color:#E6ECF2 ;
    color: var(--blue);
}

tr td:first-of-type {
    border-radius: 12px 0px 0px 12px;
}

tr td:last-of-type {
    border-radius: 0 12px 12px 0;
}

tr:nth-child(odd) > td {
    background-color: #0B2273;
    color: #FCFBFC;
}

td{
    padding: 8px 20px;
}

.edit-btn {
    color: #FCFBFC;
    border:  1px solid #284DCE;
    background-color: #284DCE;
}

.edit-btn-text {
    height: 35px;
    border-radius: 10px;
    width: 80%;
}

.margin-top{
    margin-top: 20px;
}

.edit-btn-icon{
    margin-left: 20px;
}

table{
    border-spacing: 0 12px;
}

a{
    color: white;
}