.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h2{
    text-align: center;
}

button{
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.add-new{
    padding: 10px 20px;
    color: white;
    background-color: #284DCE;
}

.btn-view{
    padding: 10px 10px;
    color: white;
    background-color: rgb(45, 200, 14);
}

.btn-edit{
    padding: 10px 10px;
    color: white;
    background-color: #284DCE;
}

.btn-delete{
    padding: 10px 10px;
    background-color: rgb(200, 14, 14);
}

.link{
    color: white;
    font-weight: bold;
}

.fa-trash-can{
    color: white;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #f2f4f7;
    color: #284DCE;
}

tr{
    text-align: left;
    height: 40px;
    border-radius: 20px
}

tr:nth-child(even) {
    background-color: #E6ECF2;
    color: #0B2273;
}

tr:nth-child(odd) {
    background-color: #0B2273;
    color:  #FCFBFC;
}

td{
    padding: 8px 20px;
}

.inline{
    display: flex;
    justify-content: space-between;
}

tr td:last-of-type{
    background-color: #f2f4f7;
}

.msg{
    color: rgb(45, 200, 14);
    text-align: center;
}