.secondary-container {
    padding: 20px;
}

.inner-secondary-container {
    width: 45%;
    padding: 20px;
}

.outer-secondary-container {
    width: 100%;
    margin-bottom: 20px;
}

.progress-bar-outer {
    background-color: #DCE3EA;
    height: 10px;
    margin: 20px 0px;
    width: 96%;
}

.progress-bar-inner {
    background-color: #DCE3EA;
    height: 10px;
    margin: 20px 0px;
    /* width: 16%; */
}

#topic1, #topic3, #topic4, #topic5 {
    width: 16%;
}

#topic2 {
    width: 12%;
}

#topic6 {
    width: 20%;
}

.progress-bar {
    height: 10px;
    background-color:#8BB514 !important;
}

.student-progress {
    width: 20%;
}

/* .topic-progress {
    width: 50%;
} */

#topic1-value {
    width: 80%;
}

#topic2-value {
    width: 100%;
}

#topic3-value {
    width: 50%;
}

#topic4-value, #topic5-value, #topic6-value {
    width: 0%;
}

.progress-value {
    width: 4%;
}

.topic-progress-label {
    font-size: 12px;
}

.inner-container {
    /* width: 100%; */
    padding: 6px 20px;
    background-color: #0B2273;
    color: #ffffff;
    margin-top: 20px;
}

.hr {
    background-color: #0B2273;
    height: 3px;
    margin: 10px 0px 30px;
}

.course-topic {
    padding: 10px;
    width: 30%;
    overflow: auto;
    height: 300px;
}

.course-sub-topic {
    padding: 5px 20px;
    background-color: #0B2273;
    color: #ffffff;
    margin-top: 20px;
}

.course-sub-topic-content {
    /* width: 45%; */
    padding: 5px 20px 0px;
    border: 3px solid #DCE3EA;
    border-top: 0;
}

.icons {
    margin-right: 10px;
}

.topic-check {
    accent-color: #8BB514;
}
