label, .input {
    width: 75%;
}

.course-edit-form-buttons {
    padding: 20px 0;
}

.course-create-form {
    padding-bottom: 30px;
}

#create-course > .dark-btn {
    width: 75%;
    height: 33px;
}

@media(max-width:767px) {
    .course-create-form {
        align-items: center;
        flex-direction: column;
    }
    #create-course {
        width: 68%;
    }
    #create-course > .dark-btn {
        margin: 16px auto;
        max-width: 325px;
    }
    .grid-table .button-column {
        display: none;
    }
    .grid-table {
        grid-template-columns: auto;
    }
}