label, .input {
    width: 75%;
}

.course-edit-form-buttons {
    padding: 20px 0;
}

.course-create-form {
    padding-bottom: 30px;
}

#create-course > .dark-btn {
    width: 75%;
    height: 33px;
}

.drop-down{
    height: 32px !important;
}

tr.tr-new-course td:first-of-type{
    border-left: 5px solid var(--warn-btn);
}

tr.tr-new-course td:last-of-type{
    border-right: 5px solid var(--warn-btn);
}

#delete-course {
    position: relative;
}

#delete-course:hover::before {
    content: 'Reset the course to delete it';
    position: absolute;
    top: -25px;
    left: 50%;
    background-color: var(--border-white);
    color: var(--ash);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}


@media(max-width:767px) {
    .course-create-form {
        align-items: center;
        flex-direction: column;
    }
    #create-course {
        width: 68%;
    }
    #create-course > .dark-btn {
        margin: 16px auto;
        max-width: 325px;
    }
    .grid-table .button-column {
        display: none;
    }
    .grid-table {
        grid-template-columns: auto;
    }
}