.secondary-container {
    padding: 20px;
}

.inner-secondary-container {
    width: 45%;
    padding: 20px;
}

.outer-secondary-container {
    width: 100%;
    margin-bottom: 20px;
}

.progress-bar-outer {
    background-color: #DCE3EA;
    height: 10px;
    margin: 20px 0px;
    width: 96%;
}

.progress-bar-inner {
    background-color: #DCE3EA;
    height: 10px;
    margin: 20px 0px;
}

.progress-bar {
    height: 10px;
    background-color:#8BB514 !important;
}

.student-progress {
    width: 20%;
}

.progress-value {
    width: 4%;
    font-size: 13px;
}

.topic-progress-label {
    font-size: 12px;
}

.inner-container {
    padding: 6px 20px;
    background-color: #0B2273;
    color: #ffffff;
    margin-top: 20px;
    font-size: 16px;
}

.hr {
    background-color: #0B2273;
    height: 3px;
    margin: 10px 0 30px;
}

.course-topic {
    padding: 10px;
    width: 30%;
    overflow: auto;
    height: 300px;
}

.course-sub-topic {
    padding: 5px 20px;
    background-color: #0B2273;
    color: #ffffff;
    margin-top: 20px;
}

.course-sub-topic-content {
    padding: 5px 20px 0px;
    border: 3px solid #DCE3EA;
    border-top: 0;
}

.icons {
    margin-right: 10px;
}

.topic-check {
    accent-color: #8BB514;
}

.hyperlink {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
}

.item-gap {
    gap: 20px;
}

.close{
    font-size: 40px;
    float: right;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.btn-checkbox{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.btn-checkbox-checked{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 1px;
    background-color: var(--green);
    border: 1px solid var(--green);
    font-size: 10px;
    font-weight: bold;
}

@media (max-width: 425px) {
    .progress-bar-outer {
        margin: 10px 0 20px 0;
    }

    .progress-value {
        display: none;
    }

    .progress-bar-inner {
        margin: 10px 0 20px 0;
    }

    .topic-progress-label {
        display: none;
    }

    .outer-secondary-container {
        flex-direction: column;
        gap: 20px;
    }

    .inner-secondary-container {
        width: 85%;
    }

    .inner-container {
        font-size: 12px;
    }
    .topic-container {
        flex-direction: column;
    }

    .course-topic {
        width: 90%;
        height: auto;
    }
}